  {{#each articles}}
    <div class="card">
        <div class="card-header">
            Date: {{date}}, Time: {{time}}
        </div>
        <div class="card-body" data-id={{_id}} data-title="{{title}}">
            <h5 class="card-title"><a href={{link}} target="_blank">{{title}}</a></h5>
            <p class="card-text">{{summary}}</p>
            <button type="button" class="btn btn-primary view_comments" data-toggle="modal" data-target="#myModal">View Comments</button>
            <button type="button" class="btn btn-secondary remove_article">Remove Article</button>
        </div>
    </div>
  {{/each}}
  <div class="modal" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
        <div id="all_notes">

        </div>
        <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">New Comment Title:</label>
                <input type="text" class="form-control" id="titleinput">
          </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">New Comment Body:</label>
                <textarea class="form-control" id="bodyinput"></textarea>
            </div>
        </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit_note">Post Comment</button>
        </div>

    </div>
    </div>
</div>